@using DM = bcp.Data.dbsets;
@using DV = bcp.Data.Views;
@using CDE = bcp.Common.DDEnums;
@using CM = bcp.Common.Models;

@inject DV.DD_Lookup DDHelp;

@model List<DM.QuoteRequests>;
@{
ViewData["Title"] = "New Quote Request";
Layout = "_Layout_BCP_User";
}

	<div class="row p-3">
		<div class="col">
			<div class="h1 mb-0">Quote Requests: @Model.Count</div>
		</div>
		<div class="col d-flex justify-content-end">
			<a class="btn btn-lg btn-cstm-sec-light shadow-light"
			   asp-controller="qp"
			   asp-action="QuoteNew"
			   asp-route-id="0">Create New Quote Request</a>
		</div>
	</div>

	<div class="row p-3">
		<table class="table">
			<thead>
				<tr>
					<th>By</th>
					<th>Code</th>
					<th>From</th>
					<th>To</th>
					<th>Truck Type</th>
					<th>Truck Tons</th>
					<th>Class of Goods</th>
					<th>Spl. Conditions</th>
					<th>Payment Terms</th>
					<th>Insurance</th>
					<th>Respond By</th>
					<th>Note</th>
					<th>Status</th>
					<th>Truc</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>

				@foreach (DM.QuoteRequests vQR in Model)
				{
				<tr>
					<td> @vQR.QuoteOwnerNavigation.ScreenName </td>
					<td> @vQR.ContractNum </td>
					<td> @vQR.Origin </td>
					<td> @vQR.Destination </td>
					<td> @DDHelp.DisplayText((int)CDE.DD_CATEGORIES.TRUCK_TYPES, vQR.TruckType, true) </td>
					<td> @DDHelp.DisplayText((int)CDE.DD_CATEGORIES.TRUCK_TONNAGES, vQR.TruckTonnage, true) </td>
					<td> @DDHelp.DisplayText((int)CDE.DD_CATEGORIES.CLASS_OF_GOODS, vQR.ClassOfGoods, true) </td>
					<td> @vQR.SpecialConditions </td>
					<td> @vQR.PaymentTerms </td>
					<td> @vQR.Insurance </td>
					<td> @vQR.RespondBy </td>
					<td> @vQR.Note </td>
					<td> @DDHelp.DisplayText((int)CDE.DD_CATEGORIES.QUOTE_STATUS, vQR.Status, true) </td>
					<td>
						<a asp-controller="qp" asp-action="QuoteRespond" asp-route-id="@vQR.QuoteId">Respond</a>
					</td>

				</tr>
				}
			</tbody>
		</table>
	</div>
