@using DM = bcp.Data.dbsets;
@using DV = bcp.Data.Views;
@using CDE = bcp.Common.DDEnums;
@using CM = bcp.Common.Models;
@using CA = bcp.Common.Constants;
@using Microsoft.Extensions.Logging;

@inject ILogger<bcp.web.Controllers.qpController> log;
@inject DV.DD_Lookup DDHelp;

@model DM.QuoteRequests;
@{
ViewData["Title"] = "New Quote Request";
Layout = "_Layout_BCP_User";
bool IsNew = Model?.QuoteId == 0;
string lsNewOnly = IsNew ? "" : "disabled";
string lsNewEdit = IsNew ? "Create" : "Edit";
}

@functions{
	string ActiveClass(bool FlagVal){
		return FlagVal ? "" : CA.TAGS.OPTION_DISABLED;
	}
	string ActiveClass(int FlagVal){
		return FlagVal == 1 ? "" : CA.TAGS.OPTION_DISABLED;
	}
}

<div class="container-fluid my-3">

	<div class="row p-3">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	</div>

	<!-- Quote Create Form -->
	<!-- ========================================================================================================== -->
	<form method="post"
			asp-controller="qp"
			asp-action="QuoteSave">


		<div class="row p-3">

			<!-- Padding column to push content to right -->
			<div class="col-1 col-sm-3 col-md-6">
				<div class=""></div>
			</div>

			<div class="col-12 col-sm-9 col-md-6 border border-cstm-pri shadow-light">
				<div class="h1 display-4 mt-3 text-cstm-pri-dark shadow-text-outline">
					@lsNewEdit
				</div>

				<!-- contents are not updated when the validity of elements changes while tabbing around
				<div data-valmsg-summary="true">
					<ul></ul>
				</div>
				-->

				<input class=""
					   type="hidden"
					   id="QuoteId"
					   name="QuoteId"
					   value="@Model.QuoteId">
				<input class=""
					   type="hidden"
					   id="QuoteOwner"
					   name="QuoteOwner"
					   value="@Model.QuoteOwner">

				<div class="row p-2">
					<div class="col-lg-6">
						<div class="form-group">
							<label for="TransporterId"
								   class="mb-0 mt-2 w-100">Transporter:
							</label>
							<select class="custom-select cstm-select-bound cstm-required"
									data-val="true"
									data-rule-range="[1,40]"
									data-msg-range="A Transporter is required."
									id="TransporterId"
									name="TransporterId"
									data-value-current="@Model.TransporterId">
								<option value="0">Select a Transporter...</option>
								@foreach (DM.Users vTrt in Model.Transporters)
								{
									<option value="@vTrt.UserId" class="@ActiveClass((int)vTrt.Status)">@vTrt.FullName</option>
								}
								<!-- <option value="1">User</option>
								<option value="2">Admin</option>
								<option value="3" 
										disabled>Analyst</option> -->
							</select>
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="TransporterId"
								  data-valmsg-replace="true"></span>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="RespondBy"
								   class="mb-0 mt-2 w-100">Respond By:
							</label>
							<input class="form-control border-cstm-alt-2 cstm-required"
								   type="text"
								   id="RespondBy"
								   name="RespondBy"
								   maxlength="24"
								   data-val="true"
								   data-val-length-min="6"
								   data-val-length-max="24"
								   data-val-required="Origin must be a string of lenth 10 to 90 chars."
								   data-val-length="Origin must be a string of lenth 10 to 90 chars."
								   value="@Model.RespondBy">
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="RespondBy"
								  data-valmsg-replace="true"></span>
						</div>
					</div>
				</div>


				<div class="row p-2">
					<div class="col-lg-6">
						<div class="form-group">
							<label for="Origin"
								   class="mb-0 mt-2 w-100">Origin:
							</label>
							<input class="form-control border-cstm-alt-2 cstm-required"
								   type="text"
								   id="Origin"
								   name="Origin"
								   maxlength="24"
								   data-val="true"
								   data-val-length-min="6"
								   data-val-length-max="24"
								   data-val-required="Origin must be a string of lenth 10 to 90 chars."
								   data-val-length="Origin must be a string of lenth 10 to 90 chars."
								   value="@Model.Origin">
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="Origin"
								  data-valmsg-replace="true"></span>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label for="Destination"
								   class="mb-0 mt-2 w-100">Destination:
							</label>
							<input class="form-control border-cstm-alt-2 cstm-required"
								   type="text"
								   id="Destination"
								   name="Destination"
								   maxlength="24"
								   data-val="true"
								   data-val-length-min="4"
								   data-val-length-max="24"
								   data-val-required="Origin must be a string of lenth 10 to 90 chars."
								   data-val-length="Origin must be a string of lenth 10 to 90 chars."
								   value="@Model.Destination">
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="Destination"
								  data-valmsg-replace="true"></span>
						</div>
					</div>
				</div>
								   <!-- data-rule-alphanumeric="Alphanum only" -->



				<div class="row p-2">
					<div class="col-lg-4">
						<div class="form-group">
							<label for="TruckType"
								   class="mb-0 mt-2 w-100">Truck Type:
							</label>
							<select class="custom-select cstm-select-bound cstm-required"
									data-val="true"
									data-rule-range="[1,40]"
									data-msg-range="A Type is required."
									id="TruckType"
									name="TruckType"
									data-value-current="@Model.TruckType">
								<option value="0">Select a Type...</option>
								@foreach (CM.DD_Item vOpt in DDHelp.GetItems(CDE.DD_CATEGORIES.TRUCK_TYPES, IsNew))
								{
									<option value="@vOpt.Value" class="@ActiveClass(vOpt.Active)">@vOpt.Text</option>
								}
								<!-- <option value="1">User</option>
								<option value="2">Admin</option>
								<option value="3" 
										disabled>Analyst</option> -->
							</select>
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="TruckType"
								  data-valmsg-replace="true"></span>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="form-group">
							<label for="TruckTonnage"
								   class="mb-0 mt-2 w-100">Tonnage:
							</label>
							<select class="custom-select cstm-select-bound cstm-required"
									data-val="true"
									data-rule-range="[1,4000]"
									data-msg-range="Tonnage is required."
									data-value-current="@Model.TruckTonnage"
									id="TruckTonnage"
									name="TruckTonnage">
								<option value="0">Select Tonnage...</option> 
								@foreach (CM.DD_Item vOpt in DDHelp.GetItems(CDE.DD_CATEGORIES.TRUCK_TONNAGES, IsNew))
								{
									<option value="@vOpt.Value" class="@ActiveClass(vOpt.Active)">@vOpt.Text</option>
								}
							</select>
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="TruckTonnage"
								  data-valmsg-replace="true"></span>
						</div>

					</div>

					<div class="col-lg-4">
						<div class="form-group">
							<label for="ClassOfGoods"
								   class="mb-0 mt-2 w-100">Class of Goods:
								<!-- <span class="small text-cstm-alt-1-dark pl-2">The current Status of the user
									in the system.</span> -->
							</label>
							<select class="custom-select cstm-select-bound cstm-required"
									data-val="true"
									data-rule-range="[1,40]"
									data-msg-range="A Class of Goods is required."
									data-value-current="@Model.ClassOfGoods"
									id="ClassOfGoods"
									name="ClassOfGoods">
								<option value="0">Select Class...</option> 
								@foreach (CM.DD_Item vOpt in DDHelp.GetItems(CDE.DD_CATEGORIES.CLASS_OF_GOODS, IsNew))
								{
									<option value="@vOpt.Value" class="@ActiveClass(vOpt.Active)">@vOpt.Text</option>
								}
							</select>
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="ClassOfGoods"
								  data-valmsg-replace="true"></span>
						</div>

					</div>

				</div>

				<div class="row p-2">
					<div class="col">
						<div class="form-group">
							<label for="SpecialConditions"
								   class="mb-0 mt-2 w-100">Special Conditions:
							</label>
							<textarea class="form-control"
									id="SpecialConditions"
									name="SpecialConditions"
									maxlength="1020"
									placeholder="Generic note for additional information."
									rows="2">@Model.SpecialConditions</textarea>
						</div>
					</div>
				</div>


				<div class="row p-2">
					<div class="col">
						<div class="form-group">
							<label for="PaymentTerms"
								   class="mb-0 mt-2 w-100">Payment Terms:
							</label>
							<input class="form-control border-cstm-alt-2 cstm-required"
								   type="text"
								   id="PaymentTerms"
								   name="PaymentTerms"
								   maxlength="60"
								   data-val="true"
								   data-val-length-min="8"
								   data-val-length-max="60"
								   data-val-length="Payment terms must be a string of lenth 10 to 1,000 chars."
								   data-val-required="Payment terms must be a string of lenth 10 to 1,000 chars."
								   value="@Model.PaymentTerms">
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="PaymentTerms"
								  data-valmsg-replace="true"></span>
						</div>
					</div>
				</div>

				<div class="row p-2">
					<div class="col">
						<div class="form-group">
							<label for="Insurance"
								   class="mb-0 mt-2 w-100">Insurance:
							</label>
							<input class="form-control border-cstm-alt-2 cstm-required"
								   type="text"
								   id="Insurance"
								   name="Insurance"
								   maxlength="60"
								   data-val="true"
								   data-val-length-min="8"
								   data-val-length-max="60"
								   data-val-length="Insurance details must be a string of lenth 10 to 1,000 chars."
								   data-val-required="Insurance details must be a string of lenth 8 to 60 chars."
								   value="@Model.Insurance">
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="Insurance"
								  data-valmsg-replace="true"></span>
						</div>
					</div>
				</div>


				<div class="row p-2">
					<div class="col">
						<div class="form-group">
							<label for="Note"
								   class="mb-0 mt-2 w-100">Notes:
							</label>
							<textarea class="form-control"
									id="Note"
									name="Note"
									maxlength="1020"
									placeholder="Generic note for additional information."
									rows="2">@Model.Note</textarea>
						</div>
					</div>

				</div>

				<div class="row p-2 justify-content-end">
					<div class="col-5">
						<div class="small text-cstm-alt-1-dark text-center">Discard changes and return to
							List.</div>
						<a asp-action="Index"
						   class="btn btn-lg btn-outline-cstm-pri-dark border-cstm-dark text-cstm-alt-1-dark shadow-light mb-3 w-100">Back
							to List</a>
					</div>
					<div class="col-5">
						<div class="small text-cstm-alt-1-dark text-center">Save Changes to database</div>
						<input type="submit"
							   class="btn btn-lg btn-cstm-pri border-cstm-dark text-cstm-alt-1-dark shadow-light mb-3 w-100"
							   value="Save"
							   id="dosignin"
							   name="dosignin">
					</div>
				</div>


			</div> <!-- Column -->
		</div> <!-- Row -->
	</form>



	<!-- ========================================================================================================== -->


</div> <!-- <div class="container-fluid my-3"> -->

	@section pageScript{
	<script>
	$("#RespondBy").flatpickr({
		dateFormat: "D d-m-Y G:i K",
		enableTime: true
	});
	</script>
	}
