@using DM = bcp.Data.dbsets;
@using DV = bcp.Data.Views;
@using CDE = bcp.Common.DDEnums;
@using CM = bcp.Common.Models;
@using CA = bcp.Common.Constants;
@using Microsoft.Extensions.Logging;

@inject ILogger<bcp.web.Controllers.qpController> log;
@inject DV.DD_Lookup DDHelp;

@model DM.QuoteResponses;
@{
ViewData["Title"] = "New Quote Response";
Layout = "_Layout_BCP_User";
bool IsNew = Model?.ResponseId == 0;
string lsNewOnly = IsNew ? "" : "disabled";
string lsNewEdit = IsNew ? "Create" : "Edit";

log.LogDebug("Debugger hook.");

}
@functions{
string ActiveClass(bool FlagVal){
return FlagVal ? "" : CA.TAGS.OPTION_DISABLED;
}
string ActiveClass(int FlagVal){
return FlagVal == 1 ? "" : CA.TAGS.OPTION_DISABLED;
}
}


<div class="container-fluid my-3">

<div class="row p-3">
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>

<!-- Quote Response Form -->
<!-- ========================================================================================================== -->
<form method="post"
		asp-controller="qp"
		asp-action="ResponseSave">

	<div class="row p-3">

		<!-- Padding column to push content to right -->
		<div class="col-1 col-sm-3 col-md-6">
			<div class=""></div>
		</div>

		<div class="col-12 col-sm-9 col-md-6 border border-cstm-pri shadow-light">
			<div class="h1 display-4 mt-3 text-cstm-pri-dark shadow-text-outline">
				@lsNewEdit
			</div>

			<!-- contents are not updated when the validity of elements changes while tabbing around
		<div data-valmsg-summary="true">
			<ul></ul>
		</div>
		-->

			<input class=""
					type="hidden"
					id="QuoteId"
					name="QuoteId"
					value="@Model.QuoteId">
			<input class=""
					type="hidden"
					id="ResponseId"
					name="ResponseId"
					value="@Model.ResponseId">

			<!-- Quote Request Details -->
			<div class="row p-2">
				<div class="col-md-6">

					<div class="row p-2">
						<div class="col-6">Contract Num:</div>
						<div class="col-6">@Model.Quote.ContractNum</div>
					</div>

					<div class="row p-2">
						<div class="col-6">From: @Model.Quote.Origin</div>
						<div class="col-6">TO: @Model.Quote.Destination</div>
					</div>

					<div class="row p-2">
						<div class="col-6">@Model.Quote.TruckTonnage</div>
						<div class="col-6">@Model.Quote.TruckType</div>
					</div>

					<div class="row p-2">
						<div class="col-6">@DDHelp.DisplayText((int)CDE.DD_CATEGORIES.TRUCK_TONNAGES,
							@Model.Quote.TruckTonnage)</div>
						<div class="col-6">@DDHelp.DisplayText((int)CDE.DD_CATEGORIES.TRUCK_TYPES,
							@Model.Quote.TruckType)</div>
					</div>

					<div class="row p-2">
						<div class="col">@DDHelp.DisplayText((int)CDE.DD_CATEGORIES.CLASS_OF_GOODS,
							@Model.Quote.ClassOfGoods)</div>
					</div>

					<div class="row p-2">
						<div class="col">@Model.Quote.PaymentTerms</div>
					</div>

					<div class="row p-2">
						<div class="col-6">Respond By:</div>
						<div class="col-6">@Model.Quote.RespondBy</div>
					</div>

					<div class="row p-2">
						<div class="col">@Model.Quote.Note</div>
					</div>


				</div>
			</div>

			<div class="row p-2">
				<div class="col-lg-6">
					<div class="form-group">
						<label for="RateUnitLoad"
								class="mb-0 mt-2 w-100">Rate:
						</label>
						<input class="form-control border-cstm-alt-2 cstm-required"
								type="number"
								id="RateUnitLoad"
								name="RateUnitLoad"
								min="0"
								data-val-min="0"
								data-rule-number="true"
								data-msg-number="Only valid numbers allowed."
								step="100"
								value="@Model.RateUnitLoad">
						<span class="field-validation-valid text-danger cstm-text-error"
								data-valmsg-for="RateUnitLoad"
								data-valmsg-replace="true"></span>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="form-group">
						<label for="LoadUom"
								class="mb-0 mt-2 w-100">UOM:
						</label>
						<select class="custom-select cstm-select-bound cstm-required"
								data-val="true"
								data-rule-range="[1,40]"
								data-msg-range="A Unit is required."
								id="LoadUom"
								name="LoadUom"
								data-value-current="@Model.LoadUom">
							<option value="0">Select a Unit...</option>
							@foreach (CM.DD_Item vOpt in DDHelp.GetItems(CDE.DD_CATEGORIES.WEIGHT_UNIT, IsNew))
							{
							<option value="@vOpt.Value"
									class="@ActiveClass(vOpt.Active)">@vOpt.Text</option>
							}
						</select>
						<span class="field-validation-valid text-danger cstm-text-error"
								data-valmsg-for="LoadUom"
								data-valmsg-replace="true"></span>
					</div>
				</div>
			</div>


			<div class="row p-2">
				<div class="col-lg-12">
					<div class="h4">Truck Details:</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label for="Truck.RegnNum"
								class="mb-0 mt-2 w-100">Truck Number:
						</label>
						<input class="form-control border-cstm-alt-2 cstm-required"
								type="text"
								id="Truck.RegnNum"
								name="Truck.RegnNum"
								maxlength="24"
								data-val="true"
								data-val-length-min="6"
								data-val-length-max="24"
								data-val-required="Origin must be a string of lenth 10 to 90 chars."
								data-val-length="Origin must be a string of lenth 10 to 90 chars."
								value="@Model.Truck.RegnNum">
						<span class="field-validation-valid text-danger cstm-text-error"
								data-valmsg-for="Truck.RegnNum"
								data-valmsg-replace="true"></span>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="form-group">
						<label for="Truck.Make"
								class="mb-0 mt-2 w-100">Make, Type, Tonnage:
						</label>
						<input class="form-control border-cstm-alt-2 cstm-required"
								type="text"
								id="Truck.Make"
								name="Truck.Make"
								maxlength="24"
								data-val="true"
								data-val-length-min="4"
								data-val-length-max="24"
								data-val-required="Make must be a string of lenth 4 to 24 chars."
								data-val-length="Make must be a string of lenth 4 to 24 chars."
								value="@Model.Truck.Make">
						<span class="field-validation-valid text-danger cstm-text-error"
								data-valmsg-for="Truck.Make"
								data-valmsg-replace="true"></span>
					</div>
				</div>
				<!-- data-rule-alphanumeric="Alphanum only" -->

				<div class="col-lg-6">
					<div class="form-group">
						<label for="LoadUom"
								class="mb-0 mt-2 w-100">Ownership:
						</label>
						<select class="custom-select cstm-select-bound cstm-required"
								data-val="true"
								data-rule-range="[1,40]"
								data-msg-range="A Unit is required."
								id="LoadUom"
								name="LoadUom"
								data-value-current="@Model.LoadUom">
							<option value="0">Select a Unit...</option>
							@foreach (CM.DD_Item vOpt in DDHelp.GetItems(CDE.DD_CATEGORIES.TRUCK_OWNERSHIP_TYPE,
							IsNew))
							{
							<option value="@vOpt.Value"
									class="@ActiveClass(vOpt.Active)">@vOpt.Text</option>
							}
						</select>
						<span class="field-validation-valid text-danger cstm-text-error"
								data-valmsg-for="LoadUom"
								data-valmsg-replace="true"></span>
					</div>
				</div>

				<div class="col-lg-12">
					<div class="form-group">
						<label for="Truck.RegdOwner"
								class="mb-0 mt-2 w-100">Registered Owner:
						</label>
						<input class="form-control border-cstm-alt-2 cstm-required"
								type="text"
								id="Truck.RegdOwner"
								name="Truck.RegdOwner"
								maxlength="24"
								data-val="true"
								data-val-length-min="4"
								data-val-length-max="60"
								data-val-required="Make must be a string of lenth 4 to 60 chars."
								data-val-length="Make must be a string of lenth 4 to 60 chars."
								value="@Model.Truck.RegdOwner">
						<span class="field-validation-valid text-danger cstm-text-error"
								data-valmsg-for="Truck.RegdOwner"
								data-valmsg-replace="true"></span>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="form-group">
						<label for="Truck.OwnerContact"
								class="mb-0 mt-2 w-100">Owner contact number:
						</label>
						<input class="form-control border-cstm-alt-2 cstm-required"
								type="text"
								id="Truck.OwnerContact"
								name="Truck.OwnerContact"
								maxlength="24"
								data-val="true"
								data-val-length-min="4"
								data-val-length-max="16"
								data-val-required="Owner contact number must be a string of lenth 4 to 10 chars."
								data-val-length="Owner contact number must be a string of lenth 4 to 10 chars."
								value="@Model.Truck.OwnerContact">
						<span class="field-validation-valid text-danger cstm-text-error"
								data-valmsg-for="Truck.OwnerContact"
								data-valmsg-replace="true"></span>
					</div>
				</div>
				<div class="col-lg-6"></div>

				<div class="col-lg-6">
					<div class="form-group">
						<label for="RcCardFace1">RC Card Face 1</label>
						<input type="file"
								class="form-control-file"
								id="RcCardFace1"
								name="RcCardFace1">
					</div>
				</div>

				<div class="col-lg-6">
					<div class="form-group">
						<label for="RcCardFace1">RC Card Face 2</label>
						<input type="file"
								class="form-control-file"
								id="RcCardFace2"
								name="RcCardFace2">
					</div>
				</div>

			</div>

			<div class="row p-2">
				<div class="col-lg-12">
					<div class="h4">Inclusions / Exclusions:</div>
				</div>
				@foreach (DM.DdItems vIncl in Model.IncludeOptionss){
				<div class="form-check form-check-inline">
					<input class="form-check-input"
							type="checkbox"
							name="QuoteResponseIncludes.Inclusions"
							id="QuoteResponseIncludes.DdiCode"
							value="@vIncl.DdiCode">
					<label class="form-check-label"
							for="IncludeOptionss">@vIncl.DdiDispText</label>
				</div>
				}
			</div>

			@* Original Code:

			*@

			<div class="row p-2">
				<div class="col-lg-12">
					<div class="form-group">
						<label for="NotesDeviations"
								class="mb-0 mt-2 w-100">Notes / Deviations:
						</label>
						<input class="form-control border-cstm-alt-2 cstm-required"
								type="text"
								id="NotesDeviations"
								name="NotesDeviations"
								maxlength="1020"
								data-val="true"
								data-val-length-min="4"
								data-val-length-max="1020"
								data-val-required="Make must be a string of lenth 4 to 1020 chars."
								data-val-length="Make must be a string of lenth 4 to 1020 chars."
								value="@Model.NotesDeviations">
						<span class="field-validation-valid text-danger cstm-text-error"
								data-valmsg-for="NotesDeviations"
								data-valmsg-replace="true"></span>
					</div>
				</div>
			</div>

			<div class="row p-2">
				<div class="col-lg-12">
					<div class="form-group">
						<label for="NotesDeviations"
								class="mb-0 mt-2 w-100">Notes / Deviations:
						</label>
						<textarea class="form-control border-cstm-alt-2"
								id="NotesDeviations"
								name="NotesDeviations"
								maxlength="1020"
								placeholder="Generic note for additional information."
								rows="2">@Model.NotesDeviations</textarea>
						<span class="field-validation-valid text-danger cstm-text-error"
								data-valmsg-for="NotesDeviations"
								data-valmsg-replace="true"></span>
					</div>
				</div>
			</div>

			<div class="row p-2">
				<div class="col-lg-6">
					<div class="form-check form-check-inline">
						<input class="form-check-input"
								type="checkbox"
								name="CapitalAssistReqd"
								id="CapitalAssistReqd"
								value="1">
						<label class="form-check-label"
								for="CapitalAssistReqd">Capital Assistance Required</label>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="form-group">
						<input class="form-control border-cstm-alt-2"
								type="number"
								id="CapitalAssistAmt"
								name="CapitalAssistAmt"
								min="0"
								data-val-min="0"
								data-rule-number="true"
								data-msg-number="Only valid numbers allowed."
								step="100"
								value="@Model.CapitalAssistAmt">
						<span class="field-validation-valid text-danger cstm-text-error"
								data-valmsg-for="CapitalAssistAmt"
								data-valmsg-replace="true"></span>
					</div>
				</div>
			</div>




			<div class="row p-2 justify-content-end">
				<div class="col-5">
					<div class="small text-cstm-alt-1-dark text-center">Discard changes and return to
						List.</div>
					<a asp-action="Index"
						class="btn btn-lg btn-outline-cstm-pri-dark border-cstm-dark text-cstm-alt-1-dark shadow-light mb-3 w-100">Back
						to List</a>
				</div>
				<div class="col-5">
					<div class="small text-cstm-alt-1-dark text-center">Save Changes to database</div>
					<input type="submit"
							class="btn btn-lg btn-cstm-pri border-cstm-dark text-cstm-alt-1-dark shadow-light mb-3 w-100"
							value="Save"
							id="dosignin"
							name="dosignin">
				</div>
			</div>


		</div> <!-- Column -->
	</div> <!-- Row -->
</form>



<!-- ========================================================================================================== -->
</div> <!-- container-fluid -->

@section pageScript{
<script>
	// Reset values on department change
	$(document).ready(function ()
	{
		console.debug("Document is ready.");
	});
</script>
}
