@font-face {
  font-family: 'Fira Code';
  src: url('../font/FiraCode-Regular.woff2') format('woff2'),
       url("../font/FiraCode-Regular.woff") format("woff"),
       url("../font/FiraCode-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Carlito';
  src: url('../font/Carlito-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Caladea';
  src: url('../font/Caladea-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Caladea';
  src: url('../font/Caladea-Bold.ttf') format('ttf');
  font-weight: 800;
  font-style: bold;
}
