/*
	Copy contents to applications site.css
*/
.app-title{
	text-shadow:
		  0px 0px 1px #000
	  	, 1px 1px 3px #333
		, 3px 3px 5px #555
		, 5px 5px 7px #555
		;
}

.shadow-text-outline{
	text-shadow:
		  0px 0px 1px #000
		;
}
.shadow-text-light{
	text-shadow:
	  	  1px 1px 3px #333
		, 3px 3px 5px #555
		;
}
.shadow-text-heavy{
	text-shadow:
		  0px 0px 1px #000
	  	, 1px 1px 3px #333
		, 3px 3px 5px #555
		, 5px 5px 7px #555
		;
}

.shadow-outline{
	box-shadow:
		  0px 0px 1px #000
		;
}
.shadow-light{
	box-shadow:
	  	  1px 1px 3px #333
		, 3px 3px 5px #555
		;
}
.shadow-heavy{
	box-shadow:
		  0px 0px 1px #000
	  	, 1px 1px 3px #333
		, 3px 3px 5px #555
		, 5px 5px 7px #555
		;
}


.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

/* Applied for validation error messages of form field */
.cstm-text-error, .field-validation-error{
	line-height: 2rem;
}

.cstm-select-bound{
	font-stretch: expanded;
}

/* To identify custom departments for changing content */
.cstm-custom-departments{
	font-size: inherit;
}
.cstm-custom-department-driver{
	font-size: inherit;
}

.cstm-required{
	background-color: #ffe6c0;
}
