@using Microsoft.Extensions.Logging;

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - BigChillar</title>

	<link rel="stylesheet"
			href="~/css/bcp-fonts.css" />
	<environment include="Development">
		<link rel="stylesheet"
			  href="~/css/bootstrap-bcp.css" />
		<link rel="stylesheet"
			  href="~/css/bcp.css" />
		<link rel="stylesheet"
			  href="~/css/flatpickr.min.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet"
			  href="~/css/bootstrap-bcp.min.css" />
		<link rel="stylesheet"
			  href="~/css/bcp.min.css" />
		<link rel="stylesheet"
			  href="~/css/flatpickr.min.css" />
	</environment>
	<link rel="stylesheet"
		  href="~/css/site.css" />
</head>

@{
	string lsUserName = "Anonymous";
	// bool lbIsAdmin = false;
	string lsRole = "";
	// if (User.Identity.IsAuthenticated)
	// {
	// 	lsUserName = User.Identity.Name;
	// 	lbIsAdmin = User.HasClaim(System.Security.Claims.ClaimTypes.Role, SC.USER_ROLES.ADMIN);
	// 	lsRole = User.Claims.Where(y => y.Type == System.Security.Claims.ClaimTypes.Role).FirstOrDefault()?.Value ?? "";
	// }
}



<body>
	<header>
		<!-- Mast Head -->
		<nav class="navbar bg-light mb-0">
			<div class="d-flex align-items-center w-100">
				<div class="d-flex align-items-start flex-fill align-items-baseline">
					<a class="h1 pl-3 shadow-text-outline text-cstm-dark"
					   asp-controller="Home"
					   asp-action="Index">BigChillar</a>
					<div class="pl-3 text-black-50 d-none d-sm-inline text-monospace">The Synergy Catalyst.</div>
				</div>
				<div class="d-flex flex-column justify-content-end">
					<div class="text-right text-cstm-dark">@lsUserName</div>
				</div>
			</div>
		</nav>
		<!-- Menu bar -->
		<!-- TODO:
			Render menu based on user role
			1. User
			2. Admin
			3. Operator
		-->
		<div class="container-fluid d-none d-sm-block py-1 border-bottom mb-1">
			<!-- Demo code till user types are implemented - BEGIN -->
								<nav class="nav nav-pills nav-justified w-100">

						<div class="nav-item dropdown bg-cstm-pri-light mx-1 shadow-light">
							<a class="nav-link dropdown-toggle"
								data-toggle="dropdown"
								href="#"
								role="button"
								aria-haspopup="true"
								aria-expanded="false">BigChillar</a>
							<div class="dropdown-menu bg-cstm-sec-light w-100">
								<a class="dropdown-item bg-cstm-sec-light w-100"
									asp-controller="Home"
									asp-action="Index"
									asp-route-linkid="0">My Profile</a>
								<a class="dropdown-item bg-cstm-sec-light w-100"
									asp-controller="Home"
									asp-action="Index">Find One Quote Request</a>
								<a class="dropdown-item bg-cstm-sec-light w-100"
									asp-controller="qp"
									asp-action="QuoteNew">New Quote Request</a>
							</div>
						</div>

						<a class="nav-item nav-link text-black-50 btn-cstm-alt-2-light mx-1 shadow-light"
							asp-controller="qp"
							asp-action="Index">View Quotes</a>

						<a class="nav-item nav-link text-black-50 btn-cstm-alt-2-light mx-1 shadow-light"
							asp-controller="qp"
							asp-action="ResponseList">Responses Quota</a>

					</nav>
			<!-- Demo code till user types are implemented - BEGIN -->
		
			@switch (lsRole)
			{
			//				case SC.USER_ROLES.ADMIN:
			//					<nav class="nav nav-pills nav-justified w-100">
			//
			//						<div class="nav-item dropdown bg-cstm-pri-light mx-1 shadow-light">
			//							<a class="nav-link dropdown-toggle"
			//								data-toggle="dropdown"
			//								href="#"
			//								role="button"
			//								aria-haspopup="true"
			//								aria-expanded="false">BigChillar</a>
			//							<div class="dropdown-menu bg-cstm-sec-light w-100">
			//								<a class="dropdown-item bg-cstm-sec-light w-100"
			//									asp-controller="Quote Requests"
			//									asp-action="Find"
			//									asp-route-linkid="0">Search Quote Requests</a>
			//								<a class="dropdown-item bg-cstm-sec-light w-100"
			//									asp-controller="GatePass"
			//									asp-action="FindOne">Find One Quote Request</a>
			//								<a class="dropdown-item bg-cstm-sec-light w-100"
			//									asp-controller="GatePass"
			//									asp-action="TypeSelect">New Quote Request</a>
			//							</div>
			//						</div>
			//
			//						<a class="nav-item nav-link text-black-50 btn-cstm-alt-2-light mx-1 shadow-light"
			//							asp-controller="Quota"
			//							asp-action="Index">View Quotes</a>
			//
			//						<a class="nav-item nav-link text-black-50 btn-cstm-alt-2-light mx-1 shadow-light"
			//							asp-controller="Quota"
			//							asp-action="Edit">Process Quota</a>
			//
			//					</nav>
			//					break;
			//				case SC.USER_ROLES.USER:
			//					<nav class="nav nav-pills nav-justified p-2">
			//						<a class="nav-item nav-link text-black-50 bg-cstm-pri-light mx-1 shadow-light"
			//						   asp-controller="GatePass"
			//						   asp-action="DeptSelect">Patient Pass</a>
			//						<a class="nav-item nav-link text-black-50 bg-cstm-pri-light mx-1 shadow-light"
			//						   asp-controller="GatePass"
			//						   asp-action="TypeSelect"
			//						   asp-route-linkid="0">New Gatepass</a>
			//						<a class="nav-item nav-link text-black-50 bg-cstm-pri-light mx-1 shadow-light"
			//						   asp-controller="GatePass"
			//						   asp-action="FindOne">Find One Gatepass</a>
			//						<a class="nav-item nav-link text-black-50 bg-cstm-pri-light mx-1 shadow-light"
			//						   asp-controller="GatePass"
			//						   asp-action="Find"
			//						   asp-route-linkid="0">Search</a>
			//					</nav>
			//					break;
			//				default:
			//					<div class="h1">Unknown Role - No menu generated.</div>
			//					break;
			}



		</div>
	</header>
	<div class="container-fluid">
		<!-- <partial name="_CookieConsentPartial" /> -->
		<main role="main"
			  class="pb-3">
			<!---------------------------------------------------------------- 
				VIEW CONTENT - BEGIN
			---------------------------------------------------------------->
			@RenderBody()
			<!---------------------------------------------------------------- 
				VIEW CONTENT - END
			---------------------------------------------------------------->
		</main>
	</div>

	<footer class="border-top footer text-muted bg-light p-1">
		<div class="container text-center h6 small">
			Developed by Novelty Data Solutions LLP
		</div>
	</footer>

	<environment include="Development">
		<script src="~/js/jquery.js"></script>
		<script src="~/js/jquery.validate.js"></script>
		<script src="~/js/additional-methods.js"></script>
		<script src="~/js/jquery.validate.unobtrusive.js"></script>
		<script src="~/js/bootstrap-bcp.bundle.js"></script>
		<script src="~/js/flatpickr.js"></script>
		<script src="~/js/bcp.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/js/jquery.min.js"></script>
		<script src="~/js/jquery.validate.min.js"></script>
		<script src="~/js/additional-methods.min.js"></script>
		<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
		<script src="~/js/bootstrap-bcp.bundle.min.js"></script>
		<script src="~/js/flatpickr.js"></script>
		<script src="~/js/bcp.min.js"></script>
	</environment>
	<script src="~/js/site.js"
			asp-append-version="true"></script>
	<script>
		$(document).ready(doDocumentReadyActions());

	</script>

	@RenderSection("pageScript", required: false)
</body>

</html>
