@{
ViewData["Title"] = "Sign in";
Layout = "_Layout_BCP_Public";
}


<div class="container-fluid my-3">

	<!-- Demo Links -->

	<!-- Sign In Form -->
	<div class="row p-3">

		<!-- Padding column to push content to right -->
		<div class="col-1 col-sm-3 col-md-6 col-lg-8 col-xl-8">
		</div>

		<div class="col-12 col-sm-9 col-md-6 col-lg-4 col-xl-4 border border-cstm-pri shadow-light">
			<!---------------------------------------------------------------- 
			Debugging content start
			---------------------------------------------------------------->
			<div class="h1 display-4 mt-3 text-cstm-sec-dark shadow-text-outline mb-0">Demo Links:</div>
			<div class="small text-cstm-alt-1-dark mt-0 mb-3">TODO: To be removed before release to
				production.</div>

			<div class="form-group">
				<a class="btn btn-lg w-100 btn-cstm-alt-2-light border-cstm-dark text-cstm-alt-1-dark shadow-light"
				   href="#"
				   target="_blank">Testing Functions
					<div class="small form-text text-cstm-alt-1-dark">Development Testing andDiagnostics Functions.</div>
				</a>
			</div>

			<hr class="bg-cstm-dark">
			<!---------------------------------------------------------------- 
			Debugging content End
			---------------------------------------------------------------->

			<div class="h1 display-4 mt-3 text-cstm-pri-dark shadow-text-outline">Sign In:</div>

			<form asp-controller="Session"
				  asp-action="SignIn"
				  method="post"
				  class="">

				<div class="form-group">
					<label for="UserID">Mobile Number:</label>
					<input type="text"
						   class="form-control form-control-lg"
						   id="UserLogin"
						   name="UserLogin"
						   placeholder=""
						   maxlength="10"
						   required
						   value="">
					<div class="small text-cstm-alt-1-dark">Numbers only, without any spaces.
					</div>
				</div>

				<div class="form-group">
					<label for="UserPWD">Password:</label>
					<input type="password"
						   class="form-control form-control-lg"
						   id="UserPWD"
						   name="UserPWD"
						   maxlength="24"
						   placeholder="Case Sensitive. Enter exactly as registered by you."
						   required>
					<div class="small text-cstm-alt-1-dark">Case Sensitive. Enter exactly as registered by you.
					</div>
				</div>

				<input type="submit"
					   class="btn btn-lg w-100 btn-cstm-pri border-cstm-dark text-cstm-alt-1-dark shadow-light mb-3"
					   value="Sign In"
					   id="dosignin"
					   name="dosignin">

				<div class="h2 mt-3 text-cstm-pri-dark shadow-text-outline">New User?</div>
				<input type="submit"
					   class="btn btn-lg w-100 btn-cstm-pri border-cstm-sec-light text-cstm-alt-1-dark shadow-light mb-3"
					   value="register now"
					   id="dosignin"
					   name="dosignin">

			</form>


		</div> <!-- Column -->
	</div> <!-- Row -->


</div> <!-- container-fluid -->
