﻿﻿@{
ViewData["Title"] = "Home Page";
Layout = "_Layout_BCP_Public";
}

<div class="text-center">
	<h1 class="display-4">New User</h1>
	<a asp-controller="Session"
	   asp-action="NewUser">Dont have an account? Register now.</a>
	<br />
</div>

<div class="text-center">
	<h1 class="display-4">Existing User</h1>
	<a asp-controller="Session"
	   asp-action="Login">Have an account? Sign in now.</a>
	<br />
	<a asp-controller="Session"
	   asp-action="UserProfile">Update your profile.</a>
	<br />
</div>

<div class="text-center">
	<h1 class="display-4">Quotes</h1>
	<a asp-controller="qp"
	   asp-action="Index">View Quotes.</a>
	<br />
	<a asp-controller="qp"
	   asp-action="QuoteNew">Create a new Quote Request.</a>
	<br />
	<a asp-controller="qp"
	   asp-action="QuoteNew">Respond to a Quote Request.</a>
	<br />
</div>
